body {
    background-color: #f6efe8;
    color:black;
    text-align: center;
}

a {
    color: #525252;
}

a:hover {
    color: lightgray;
}

hr {
    color: goldenrod;
    height: 5px;
    background-color: goldenrod;
    border: none;
}

h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
    resize: none;
    padding: 5px;
}

.header {
    color: #525252;
}

#app {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.poketable {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.pokecard {
    color: #4a4a4a;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.button {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ba8b14;
    color: white;
    display: inline-block;
    font-family: 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: #edb832;
}

.search {
    margin: 20px;
    text-align:center;
}

.searchresult {
    display: inline-block;
}

.searchbutton {
    background-color: #ba8b14;
    color: white;
    padding: 10px 5px;
    width: 130px;
    border-radius: 10px;
    font-family: 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.searchbutton:hover {
    background-color: #edb832;   
}

.readmore {
    background-color: white;
    padding: 2px 2px;
    border-radius: 3px;
    cursor: pointer;
}

.readmore:hover {
    background-color: lightgray;
}

.readmore-link {
    text-decoration: none;
}

.readmore-link:hover {
    text-decoration: underline;
    color: #4a4a4a
}